<!DOCTYPE html>
<html>
<head>
    <script src="angular.min.js"></script>
    <script src="myscript.js" type="text/javascript"></script>
</head>
    <body ng-app="myModule" ng-controller="myController">
        Rows to Display: <input type="number" step="1"  min="0" max="4" ng-model="rowLimit"/>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black">Name</td>
                    <td style="border: 1px solid black">Date of Birth</td>
                    <td style="border: 1px solid black">Gender</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td style="border: 1px solid black">{{employee.name | uppercase }}</td>
                    <td style="border: 1px solid black">{{employee.dataofbirth | date:"dd/MM/yyyy"}}</td>
                    <td style="border: 1px solid black">{{employee.gender | lowercase }}</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>